In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# This dataset is created for prediction of the S&P 500 stock index based on the interest rates and employment numbers
stock = pd.read_csv('Stock.CSV')

In [4]:
stock.tail(10)

     Interest Rates  Employment  S&P 500 Price
990        2.018200   56.929616    2206.946180
991        1.936748   52.967524    2086.159182
992        2.591529   57.281030    2686.211789
993        1.740441   55.098645    1922.893274
994        1.868835   60.543377    2065.424594
995        2.528420   52.390828    2578.699184
996        2.643571   54.626204    2573.865933
997        2.009644   57.004357    2004.911218
998        2.201656   62.447790    2344.098981
999        2.180638   46.297034    2156.133786

In [5]:
stock.head(10)

   Interest Rates  Employment  S&P 500 Price
0        1.943859   55.413571    2206.680582
1        2.258229   59.546305    2486.474488
2        2.215863   57.414687    2405.868337
3        1.977960   49.908353    2140.434475
4        2.437723   52.035492    2411.275663
5        2.143637   56.060598    2187.344909
6        2.148647   51.513208    2263.049249
7        2.176184   53.475909    2281.496374
8        2.125352   63.668422    2355.163011
9        2.225682   56.993396    2326.330337

In [6]:
stock.describe()

       Interest Rates   Employment  S&P 500 Price
count     1000.000000  1000.000000    1000.000000
mean         2.195392    56.254855    2319.999936
std          0.241630     4.862178     193.854745
min          1.500000    40.000000    1800.000000
25%          2.035735    53.029784    2190.447901
50%          2.198214    56.160941    2312.443024
75%          2.359061    59.422633    2455.764328
max          3.000000    70.000000    3000.000000

In [7]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Interest Rates  1000 non-null   float64
 1   Employment      1000 non-null   float64
 2   S&P 500 Price   1000 non-null   float64
dtypes: float64(3)
memory usage: 23.6 KB